[submodule "zika"]
	path = zika
	url = https://github.com/cmrivers/zika.git
[submodule "zika-data"]
	path = buzzfeed_zika/zika-data
	url = https://github.com/BuzzFeedNews/zika-data
[submodule "cdc_zika"]
	path = cdc_zika/zika
	url = https://github.com/cdcepi/zika
